{% for collection in product.collections %}
    {% if collection.metafields.custom.color_tag != blank %} 
    <a href="{{collection.url}}" style="border: 1px solid {{ collection.metafields.custom.color_tag }}">
        {{ collection.title }}
      </a>
    {% endif %}
{% endfor %}