{% if section_settings.heading != blank or section_settings.subheading != blank or section_settings.description != blank %}
    <div class="section__header text-{{ section_settings.header_alignment }}{% if section_settings.container == 'w-full' %} px-5{% endif %}">
        {% if section_settings.subheading != blank %}
            <p class="section__subheading">{{ section_settings.subheading }}</p>
        {% endif %}
        {% if section_settings.heading != blank %}
            <h2 class="section__heading">{{ section_settings.heading }}</h2>
        {% endif %}
        {% if section_settings.description != blank %}
            <div class="section__description">{{ section_settings.description }}</div>
        {% endif %}
        asdasdasda
        {% if enable_slider %}
            {%- liquid 
              assign custom_class = 'hidden'
              if section.settings.show_pagination or section.settings.show_navigation
                assign custom_class = 'hidden pb-5 lg:pb-0'
              endif
            -%}
            {% render 'slider-controls', custom_class: custom_class, absolute: true, container: section.settings.container, show_pagination: section.settings.show_pagination, show_nav: section.settings.show_navigation %}
          {% endif %}
    </div>

{% endif %}
