@import url('../icomoon/style.css');

body .d33-featured-collection .custom-header  .custom-arrow .sf-slider__controls {
    display: block;
    position: relative;
    width: fit-content;
}

body .d33-featured-collection .custom-header .custom-arrow .sf-slider__controls button {
    left: 0;
    position: initial;
    top: 0;
    transform: translateY(50%);
}
@media screen and (max-width: 767px) {
    body .d33-featured-collection .custom-header .custom-arrow .sf-slider__controls {
        display: none;
    }
}

body .d33-featured-collection.collection-list__inner {
    padding-left: 1rem;
}
@media (min-width: 1024px) {
    body .d33-featured-collection.collection-list__inner {
        padding-left: calc(var(--fluid-container-offset, 6rem) / 1.25);
    }
}
@media (min-width: 1750px) {
    body .d33-featured-collection.collection-list__inner {
        padding-left: calc((100vw - 1620px)/ 2);
    }
}
body .d33-custom-tags {
    padding-bottom: 20px;
}
body .d33-custom-tags .badge-collection {
    border: 2px solid;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: 700;
    margin-right: 8px;
}

body .heroSlider .container-fluid {
    position: absolute;
    bottom: 10vh;
    z-index: 99;
}
body .heroSlider .container-fluid  .swiper-pagination {
    justify-content: flex-start;
    position: static;
}
.d33-custom-text h3 {
    font-size: 44px;
    margin-bottom: 40px;
}

.d33-custom-list-icons {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}
.d33-custom-list-icons.d33-content-list-icons {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}
.d33-custom-list-icons .d33-icon {
    padding-right: 15px;
    min-width: 60px;
    text-align: center;
}

.d33-custom-list-icons .d33-icon span {
    font-size: 30px;
}
.d33-custom-list-icons .d33-icon-content h4 {

}
.d33-custom-list-icons .d33-icon-content div {
    margin-top: 10px;
    max-width: 80%;
}
.d33-custom-list-icons.d33-content-list-icons .d33-icon-content div {
    max-width: 100%;
}
.d33-custom-list-icons .d33-icon-content div p {
    margin: 0;
}