body  .d-flex {
    display: flex;
}
body .flex-column {
    flex-direction: column;
}
body .d33-featured-collection .custom-header .section__header + .custom-arrow .sf-slider__controls {
    display: block;
    position: relative;
    width: fit-content;
}
body .d33-featured-collection .custom-header .section__header + .custom-arrow .sf-slider__controls button {
    left: 0;
    position: initial;
    top: 0;
    transform: translateY(50%);
}
@media screen and (max-width: 767px) {
    body .d33-featured-collection .custom-header .section__header + .custom-arrow .sf-slider__controls {
        display: none;
    }
}
